ESP32/ESP32-MQTT-DHT-Lamp.json
[{"id":"f7c82222.5bb23","type":"mqtt in","z":"1e5f7f4d.239c81","name":"temperature","topic":"/CSU/T","qos":"2","broker":"aa316bba.5c3488","x":170,"y":280,"wires":[["b7351b87.b4b498","331ae3b9.6d6cbc"]]},{"id":"b7351b87.b4b498","type":"debug","z":"1e5f7f4d.239c81","name":"","active":true,"console":"false","complete":"false","x":450,"y":320,"wires":[]},{"id":"fc9f837d.56d59","type":"mqtt out","z":"1e5f7f4d.239c81","name":"lamp","topic":"/CSU/lamp","qos":"","retain":"","broker":"aa316bba.5c3488","x":430,"y":60,"wires":[]},{"id":"459fe6a0.b212c8","type":"ui_switch","z":"1e5f7f4d.239c81","name":"Lamp","label":"Lamp","group":"7799c439.740d0c","order":0,"width":"4","height":"2","passthru":true,"decouple":"false","topic":"/CSU/lamp","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":190.16668701171875,"y":72,"wires":[["fc9f837d.56d59"]]},{"id":"ecae6161.8127f","type":"mqtt in","z":"1e5f7f4d.239c81","name":"Humidity","topic":"/CSU/H","qos":"2","broker":"aa316bba.5c3488","x":180,"y":360,"wires":[["b7351b87.b4b498","9d6591e8.001f5"]]},{"id":"331ae3b9.6d6cbc","type":"ui_chart","z":"1e5f7f4d.239c81","name":"Temperature","group":"7799c439.740d0c","order":0,"width":"5","height":"2","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":445.16668701171875,"y":261,"wires":[[],[]]},{"id":"9d6591e8.001f5","type":"ui_gauge","z":"1e5f7f4d.239c81","name":"Humidity","group":"7799c439.740d0c","order":0,"width":"5","height":"3","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":432.16668701171875,"y":374,"wires":[]},{"id":"10f01080.bec65","type":"inject","z":"1e5f7f4d.239c81","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.16668701171875,"y":147.6666717529297,"wires":[["9320bbd1.eb9d28"]]},{"id":"9320bbd1.eb9d28","type":"mqtt out","z":"1e5f7f4d.239c81","name":"read Temperature","topic":"/CSU/RT","qos":"2","retain":"","broker":"aa316bba.5c3488","x":477.16668701171875,"y":141,"wires":[]},{"id":"b2998ffd.527cd","type":"inject","z":"1e5f7f4d.239c81","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150.16668701171875,"y":204.66668701171875,"wires":[["854ebce5.bf626"]]},{"id":"854ebce5.bf626","type":"mqtt out","z":"1e5f7f4d.239c81","name":"Read Humidity","topic":"/CSU/RH","qos":"2","retain":"","broker":"aa316bba.5c3488","x":466.16668701171875,"y":198,"wires":[]},{"id":"aa316bba.5c3488","type":"mqtt-broker","z":"","broker":"gpssensor.ddns.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"7799c439.740d0c","type":"ui_group","z":"","name":"Lamp","tab":"ebd7076c.f17968","order":1,"disp":true,"width":"8"},{"id":"ebd7076c.f17968","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2}]